/* app css stylesheet */

body {
  padding-top: 20px;
}

.bs-sidebar .nav > .active > ul {
    display: block;
    margin-bottom: 8px;
    background-color: #666666;
}

/*
.bs-sidebar {
  background-color: #666666;
  text-color: #dddddd;
}
*/



/* Auth css */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none;
}

body {
    font-size: 1em;
}

#cover {
    position:absolute;
    height:100%;
    width:100%;
    background:white;
}

#userInfo {
    float:right;padding:8px;
}

#alertBox {
    position: fixed;
    min-width: 75%;
    left: 50%;
    margin: 0 0 0 -37.5%;
    top: 5px;
}

.fa.fa-twitter {
    color:#00A7E7;
}

.fa.fa-facebook-square {
    color:#3662A0;
}

.fa.fa-google-plus-square {
    color: #D74634;
}

.fade-hide-setup, .fade-show-setup {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.fade-hide-setup {
    opacity:1;
}
.fade-hide-setup.fade-hide-start {
    opacity:0;
}

.fade-show-setup {
    opacity:0;
}
.fade-show-setup.fade-show-start {
    opacity:1;
}


/* For kanban */
#kanbanName a { color: #ddd; }
div.navbar-header form div.input-group { margin-top: 7px;}
.cardInputs { width: 450px; color: #555555; }

.cardDetails {
  border: 1px solid #CCCCCC;
  padding: 4px 6px;
  height: 150px;
  margin-bottom: 0px;
  overflow: auto;
  background-color: #eeeeee;
}

input.kanbanKey {
  width: 98%;
  color: #555555;
  font-weight: bold;
  padding-right: 0px;
  font-size: 1.5em;
}

.cards { padding: 0px;}

#info {
  padding: 10px 15px;
  color: #8a8a8a;
  margin-right: 30px;
}

#info .spinner { padding: 10px 15px; left: 0px;}
#info .error { color: #FF9E9E;}
#info #error a { color: #FF9E9E;}

#message { float: left; }

.colorBox { cursor: pointer; }

.shortcut { color: #aaa; padding-top: 2px;}

div.help > div.modal-dialog { width: 90%; }
div.help div.modal-body { overflow: scroll;}
.version { color: #aaa; }

/* kanban theme */
/* Bootstrap overrides */
#kanbanName a { color: #333 ;}
div.navbar-header a { color: #333;}
.row { margin-left: 0px;}

.navbar { background-image: linear-gradient(to bottom, #fff, #ddd); }
.nav a { color: #333; }
.noDisplay { display: none; }
.error { border-color: red;}
a { padding-left: 2px; padding-right: 2px;}

#columns { margin: 55px 0px 0px 0px;}
#columns > div { padding-left: 5px; padding-right:5px;}
#columns a { color: #444; }


.card {
    padding: 10px;
    font-weight: 200;

    border: solid 1px #ffffff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    list-style: none;

    -webkit-box-shadow: inset rgba(0, 0, 0, 0.0980392) 0px 1px 10px 0px;
    box-shadow: inset rgba(0, 0, 0, 0.0980392) 0px 1px 10px 0px;
    margin: 2px;
    cursor: move;
}
.cards { margin: 0px;}
.card a { color: #444; }
.card a:hover { text-decoration: none; cursor: pointer; color: #777;}

.column {
    border: solid 1px #ffffff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-left: 10px;

    background-color: #f9f9f9;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 10px 0px;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 10px 0px;
}

.columnHeader {
    margin: 10px 0px;
    padding: 0px 3px;
    font-size: 15px;
    color: #777;
}

.noMargin { margin-bottom: 0px;}
.colorBox {
    width: 15px;
    height: 15px;
    display: inline-block;
    border: 1px solid black;
    margin: 2px;
}

 .colorSelector .selected {
    border: 2px solid red;
 }
/* TAGS */

.default {
    -webkit-box-shadow: inset rgba(0, 0, 0, 0.0980392) 0px 1px 10px 0px;
    box-shadow: inset rgba(0, 0, 0, 0.0980392) 0px 1px 10px 0px;
}
.default-color { background-color: #ffffff; }
