
<div class="pageheader">
  <h2><i class="fa fa-user"></i> User Settings <span>Tell others how awesome you are...</span></h2>
</div>

<div class="contentpanel">

  <div class="panel panel-default" ng-controller="UserSettingsCtrl">
    <div class="panel-heading">
      <div class="panel-btns">
      </div>
      <h4 class="panel-title">Tell your team about yourself<h4>
      <p>This information will only be shared with team members. Give your remote team members more color about yourself.</p>
    </div>
    <form class="form-horizontal form-bordered">
      <div class="panel-body panel-body-nopadding">

        <div class="form-group">
          <label class="col-sm-3 control-label">Name</label>
          <div class="col-sm-5">
            <input type="text" placeholder="First name" ng-model="user.firstname" class="form-control">
            <input type="text" placeholder="Last name" ng-model="user.lastname" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">User name</label>
          <div class="col-sm-5">
            <div class="input-group mb15">
              <span class="input-group-addon">@</span>
              <input type="text" placeholder="Username" ng-model="user.username" class="form-control" disabled="" />
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Job Title</label>
          <div class="col-sm-5">
            <input type="text" placeholder="Job Title" ng-model="user.title" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Location</label>
          <div class="col-sm-5">
            <input type="text" placeholder="City, State, Country..." ng-model="user.userLocation" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Avatar</label>
          <div class="col-sm-5">

            <!--
            <input type="file" name="avatar-file" ng-file-select="onFileSelect($files)" >
            <gravatar-image data-gravatar-email="username" data-gravatar-size="120" data-gravatar-rating="pg" data-gravatar-default="identicon" data-gravatar-secure="true" data-gravatar-css-class="btn btn-large"></gravatar-image>
          -->

            <input type="text" placeholder="URL for your profile picture" ng-model="user.avatarURL" class="form-control">
            <p class="col-sm-5">Give us a pic, by URL. Go to <a href="http://www.gravatar.com">Gravatar</a> to get one </p>
          </div>
        </div>


        <div class="form-group">
          <label class="col-sm-3 control-label">Contact details</label>
          <div class="col-sm-5">
            <input type="text" placeholder="Mobile #" ng-model="user.mobilePhone" class="form-control">
            <input type="text" placeholder="Twitter handle" ng-model="user.twitterHandle" class="form-control">
            <input type="text" placeholder="Skype ID" ng-model="user.skype" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Profile blurb</label>
          <div class="col-sm-5">
            <input type="textarea" placeholder="Say something exciting about yourself..." ng-model="user.blurb" class="form-control">
          </div>
        </div>



      </div> <!-- panel-body -->

      <div class="panel-footer">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <button class="btn btn-primary" ng-click="PostUserSettings()">Submit</button>&nbsp;
            <!--<button class="btn btn-default">Cancel</button>-->
          </div>
        </div>
      </div><!-- panel-footer -->
    </form>
  </div> <!-- panel -->
</div> <!-- content panel -->
