<br>
<br>
<h1>Users in #{{workroomName}}:</h1>
<ul class="list-unstyled">
  <a href="#/workrooms/{{workroomId}}">Back to room</a>
  <li ng-repeat="user in users">
    {{user.username}}  ({{user.displayname}})
  </li>
</ul>


<!-- Invite user to this workroom (Modal is in main.html to make sure it's at the bottom of the html code, otherwise doesn't work)-->
<a href="#/workrooms/{{workroomId}}/users" data-toggle="modal" data-target="#InviteUserModal"> + Invite... </a>





<!--
<br><br><br>

<hr/>
<p>
{{users | json}}
</p>
-->
