<div class="pageheader">
  <h2>
    <i class="fa fa-home"></i> {{workroomName}}
    <span><a href="#/workrooms/{{workroomId}}/messages">Messages</a></span>
    <span>Users</span>
    <span><a href="#/workrooms/{{workroomId}}/kanban"> Tasks</a></span>
    <span><a href="#/workrooms/{{workroomId}}/files"> Files</a></span>
  </h2>
</div>

<div class="contentpanel">

  <div class="col-sm-6 col-md-8">
    <div class="panel panel-default panel-alt widget-messaging">
      <div class="panel-body">

        <ul class="list-unstyled">
          <li ng-repeat="user in users">
            {{user.username}}  ({{user.displayname}})
          </li>
        </ul>


        <!-- Invite user to this workroom (Modal is in index.html to make sure it's at the bottom of the html code, otherwise doesn't work)-->
        <a href="#/workrooms/{{workroomId}}/users" data-toggle="modal" data-target="#InviteUserModal"> + Invite to #channel... </a>

      </div><!-- panel-body -->
    </div><!-- panel -->
  </div><!-- col-sm-6 -->



</div>


<!--
<br><br><br>

<hr/>
<p>
{{users | json}}
</p>
-->
