<div class="pageheader">
  <h2><i class="fa fa-home"></i> #{{workroomName}} <span>Messages<a href="#/workrooms/{{workroomId}}/users"> | Users...</a></span></h2>
</div>

<div class="contentpanel">

  <div class="col-sm-6 col-md-8">
    <div class="panel panel-default panel-alt widget-messaging">
      <div class="panel-body">
        <ul class="list-unstyled">
          <li ng-repeat="message in messages" class="new">

            <div class="media">
              <a href="#" class="pull-left">
                <img ng-src="{{message.author.avatarURL}}" class="media-object">
              </a>
              <div class="media-body">
                  <small class="media-meta pull-right">{{message.date | date : 'h:mm a'}}</small>
                  <h4 class="sender">{{message.author.displayname}}</h4>
                  <small>{{message.html}}</small>
              </div>
            </div>
          </li>
        </ul>
      </div><!-- panel-body -->
    </div><!-- panel -->
  </div><!-- col-sm-6 -->


</div>



<!-- text area to enter a new message -->
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="row">
    <div class="container">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <form ng-controller="AddMessageController" class="form-inline" role="form">
          <div class="form-group">
                <input type="textarea" class="form-control" ng-model="message" autofocus="autofocus" placeholder="Type your message here..." size="60">
          </div>
          <button type="submit" class="btn btn-primary" ng-click='PostMessage();'>Send</button>
        </form>
      </div>
    </div>
  </div>
</nav>

<!--

<br><br><br>
<hr/>
<p>
{{messages | json}}
</p>
-->
