<div class="pageheader">
  <h2><i class="fa fa-home"></i> #{{workroomName}} <span>Messages<a href="#/workrooms/{{workroomId}}/users"> | Users...</a></span></h2>
</div>

<div class="contentpanel">

  <div class="col-sm-6 col-md-8">
    <div class="panel panel-default panel-alt widget-messaging">
      <div class="panel-body">
        <ul class="list-unstyled">
          <li ng-repeat="message in messages">
            <small class="pull-right">{{message.date | date : 'h:mm a'}}</small>
            <h4 class="sender">{{message.author_name}}</h4>
            <small>{{message.html}}</small>
          </li>
        </ul>
      </div><!-- panel-body -->
    </div><!-- panel -->
  </div><!-- col-sm-6 -->


</div>



<!-- text area to enter a new message -->
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="row">
    <div class="container">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <form ng-controller="AddMessageController" class="form-inline" role="form">
          <div class="form-group">
                <input type="textarea" class="form-control" ng-model="message" placeholder="Type your message here..." size="60">
          </div>
          <button type="button" class="btn btn-primary" ng-click='PostMessage();'>Send</button>
        </form>
      </div>
    </div>
  </div>
</nav>

<!--

<br><br><br>
<hr/>
<p>
{{messages | json}}
</p>
-->
